<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcaseca</title>
    <link rel="stylesheet" href="css/login/style.css">
</head>
<body>
    <header>
        <h1>ARCASECA</h1>
    </header>
    <div class="main">
        <img class="dockerImage" src="css/login/assets/dockerOffBlack.png">
        <div class="login">
            <h1>
                Sign in
            </h1>
            <h6>
                If you don't have access, call to administrator 
            </h6>
            <form>
                <label for="username">username</label><br><br>
                <input type="text" id="username" name="username">
                <hr>
                <label for="password">password</label><br><br>
                <input type="password" id="password" name="password">
            </form> 
        </div>
    </div>
    <footer>
        <h1>
            ARCASECA
        </h1>
    </footer>
</body>
</html>